body {
  background: #101010;
  color: #00ff00;
  font-family: monospace;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

#fps {
  font-size: 2rem;
  background: #000;
  border: 2px solid #0f0;
  padding: 10px 25px;
  border-radius: 10px;
  box-shadow: 0 0 10px #0f0;
}
